<div class="border-t border-dashed border-white-500"></div>
   <footer class="bg-black text-white py-4">
    <div class="max-w-screen-xl mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Partea stângă - Contactează-ne -->
        <div class="md:col-span-1  ">
          <h2 class="text-2xl font-bold mb-2">Contactează-ne</h2>
          <p class="text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
          <ul class="mt-4">
            <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Link 1</a></li>
            <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Link 2</a></li>
            <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Link 3</a></li>
          </ul>
        </div>
        
        <!-- Partea dreaptă - Urmează-ne -->
        <div class="md:col-span-1">
          <h2 class="text-2xl font-bold mb-2">Urmează-ne</h2>
          <p class="text-gray-300">Conectează-te cu noi pe rețelele sociale pentru a fi la curent cu ultimele noutăți și evenimente.</p>
          <ul class="mt-4">
            <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Facebook</a></li>
            <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Twitter</a></li>
            <li><a href="#" class="text-gray-400 hover:text-white transition duration-300">Instagram</a></li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-8">
        <p class="text-gray-400">© 2024 Nume Companie. Toate drepturile rezervate.</p>
      </div>
    </div>
  </footer>
  
  