.hero-section {
    background-image: url('../../assets/fundale/wheel.jpg'); /* Path to your background image */
    background-size: cover; /* Ensure the image covers the entire div */
    background-position: center; /* Center the image */
    height: 50vh; /* 50% of the viewport height */
    width: 100%; /* Full width */
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    font-size: 2.5rem; /* 4xl size */
  }
  
  h2 {
    font-size: 1.875rem; /* 2xl size */
    color: #FFA500; /* Orange color */
  }
  
  p {
    font-size: 1.125rem; /* lg size */
  }
  
  button {
    background-color: white;
    color: #4A5568; /* Gray-800 color */
    font-weight: 600;
    padding: 0.5rem 1rem;
    border-radius: 9999px; /* Fully rounded button */
  }
  